<!DOCTYPE html>
<html>
  <head>
    <title>admin</title>
 	 <link rel="stylesheet" type="text/css" href="admin.css" />
  </head>
  <body>
<div class="list">
  <ul>
  <li><a class="mazy" ><em>MAZY</em></a></li>
  <li><a class="espace">Espace admin</a></li>
  
  <li style="float:right"><a class="active" href="/first" >  déconnection  </a></li>
</ul></div>
    <div class="container">
  
 <h1>
    <a href="#menu">Menu</a>
 </h1>
    
<div class="popover" id="menu">
 <div class = 'content'>
  <a href="#" class="close"></a>
   <div class = 'nav'>
    <ul class = 'nav_list'> 
      <div class = 'nav_list_item'>
	  <li><a href="/first">Home</a></li>
      </div>
     <div class = 'nav_list_item'>
		<li><a href="/departement">Departements</a></li>
      </div>
    <div class = 'nav_list_item'>
	  <li><a href="/consultation">Consultations</a></li>
      </div>
    <div class = 'nav_list_item'>
	  <li><a href="/Residant">Résidant</a></li>
      </div>
     
      
	</ul>
  </div>
 </div>
 </div>
 </div>
  </body>
</html>