<!DOCTYPE html>

<head>
<link rel="stylesheet" href="first.css" />
        <meta charset="utf-8" />
        <title>index</title>
</head>
 <body>
<ul>
  <li><a class="mazy" ><em>MAZY</em></a></li>
  <li><a href="#about">about us</a></li>
  <li><a href="#contact">contact</a></li>
   <li><a href="#suggestion">suggestion</a></li>
  <li style="float:right"><a class="active" href="/Index" >  connection  </a></li>
</ul> 
<h1 class="maz"> Welcome chez <em>>MAZY</em></h1>
  <section class="about1">
<p  id="about"><h1 class="az">About us</h1> <em>MAZY</em> est une application Web qui permet aux personnels administratifs d’éditer, consulter et modifier toutes les informations
  sur les etudiants hébergés<br/> Le résedant aussi peut : consulter son profils et faire des reclamation  </p></section> 
<section class="about1"><p id="contact"><h1 class="az">contact</h1>
<img src=/> <strong>Email :</strong> MAZY@gmail.com <br/><img src=/><strong>tel :</strong> 00 00 00 00</p>
</section><section class="about1"> <p id="suggestion"><h1 class="az">vos suggestions</h1>
<form method="post" action="traitement.php">
    
       <label for="ameliorer">Comment pensez-vous que nous pourraions améliorer notre application ?<br/></label><br />
       <textarea name="ameliorer" id="ameliorer"></textarea>
   
</form></p></section>
</body>
</html>